<!-- Start Services -->
<section class="services">
  <!-- <h1>N services</h1> -->
  <div  class="container">
      <div class="box" *ngFor="let activite of listeact">
          <img src={{activite.imageA}}>
          <div class="info">
              <h3><b>{{activite.nomA}}</b></h3>
              <p>{{activite.descriptionA}}</p>
              <div style="text-align:center">
                  <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" (click)="update(activite)" >Modifier</button>
                  <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" (click)="deleteact(activite.id)" >Supprimer</button>
              </div>                
          </div>
          
      </div>
      
  </div>
</section>